@charset "utf-8";

/* 공통 */
/* 화살표 아이콘 */
i {
    height: 20px;
    position: relative;
    margin-left: 8px;
}
.icon_arrow.on:before { /* 화살표 클래스 명 */
    transform: rotate(-135deg);
}
.icon_arrow.on:after { /* 화살표 클래스 명 */
    transform: rotate(135deg);
}
i:before {
    position: absolute;
    content: '';
    width: 2px; height: 8px;
    top: 35%; left: 10%;
    transform: rotate(-45deg);
    transition: all 0.5s;
}
i:after {
    position: absolute;
    content: '';
    width: 2px; height: 8px;
    top: 35%; right: 10%;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.bg1:before, 
.bg1:after {
    background: #fff;
}
/* 화살표 아이콘 */
/* 공통 */

/* collection_search */
#collection_search {
    padding: 240px 0 40px;
}
#collection_search .collection_search_title {
    font-size: 2.5rem;
    padding-bottom: 24px;
}
#collection_search > input {
    width: 480px;
    height: 48px;
    padding: 0 13px;
    border: none;
    outline: none;
    border-radius: 48px;
    background: #eeeeee;
    font-size: 1rem;
    margin-right: 15px;
}

/* 버튼 */
#collection_search .collection_searchBtn,
#collection_search .collection_DetailedSearch { 
    width: 180px;
    font-size: 1rem;
}
#collection_search .collection_DetailedSearch { /* 상세검색 */
    background: #666666;
    color: #fff;
    border: #666666;
}

/* 상세검색 영역 */
#collection_search .DetailedSearch_container {
    display: flex;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px 0;
}
/* DetailedSearch_container_left */
#collection_search .DetailedSearch_container .DetailedSearch_container_left {
    width: 1200px;
}
/* 상세검색 버튼 */
#collection_search .DetailedSearch_container .DetailedSearch_list {
    margin-bottom: 25px;
}
#collection_search .DetailedSearch_container .DetailedSearch_list > a {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 48px;
    padding: 0 18px;
    border: 1px solid #777777;
    color: #777777;
    line-height: 48px;
    box-sizing: border-box;
    margin-right: 15px;
}
#collection_search .DetailedSearch_container .DetailedSearch_list > a:last-child {
    margin-right: 0;
}
/* 상세검색 버튼 */

/* DetailedSearch_check */
#collection_search .DetailedSearch_container .DetailedSearch_check {
    padding: 20px 0 0;
}
/* 체크박스를 숨기기 */
#collection_search .DetailedSearch_container .DetailedSearch_check input[type="checkbox"] {
    display: none;
  }
  
  /* 체크박스 모양을 표시하는 라벨 스타일 */
#collection_search .DetailedSearch_container .DetailedSearch_check label {
    display: inline-flex;  
    align-items: center;   
    gap: 8px;              
    cursor: pointer;
    margin-right: 15px;
  }
  
  /* 체크박스를 대신할 가상 요소로 체크박스 스타일을 표시 */
#collection_search .DetailedSearch_container .DetailedSearch_check label:before {
    content: '';
    display: inline-block;
    width: 16px;  
    height: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  /* 체크박스가 체크되었을 때 이미지 적용 */
#collection_search .DetailedSearch_container .DetailedSearch_check input[type="checkbox"]:checked + label:before {
    background: url(../collections_search_img/check_on.svg) no-repeat center/cover;
    border: none;  /* 테두리 없애기 */
  }

  /* DetailedSearch_check_input */
#collection_search .DetailedSearch_container .DetailedSearch_check_input {
    margin-top: 20px;
}
#collection_search .DetailedSearch_container .DetailedSearch_check_input > input {
    width: 930px;
    height: 48px;
    padding: 0 13px;
    border: none;
    outline: none;
    border-radius: 48px;
    background: #eeeeee;
    font-size: 1rem;
    margin-right: 15px;
}
#collection_search .DetailedSearch_container .DetailedSearch_check_input .inputBtn {
    width: 180px;
    font-size: 1rem;
}
/* DetailedSearch_check_input */
/* DetailedSearch_check */

/* authors_check */
#collection_search .DetailedSearch_container .authors_check {
    padding: 24px 0 54.4px;
}
#collection_search .DetailedSearch_container .authors_check > a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 1px solid #777777;
    border-radius: 50%;
    color: #777777;
    margin-right: 10px;
    line-height: 32px;
}
#collection_search .DetailedSearch_container .authors_check > a.active {
    color: #fff;
    background: #000;
    border: 1px solid #000;
}
/* authors_check */

/* year_check */
#collection_search .DetailedSearch_container .year_check {
    padding: 24px 0 40px;
}
#collection_search .DetailedSearch_container .year_check > select {
    width: 160px;
    height: 48px;
    padding: 0 13px;
    font-size: 1rem;
    outline: none;
}
/* year_check */

/* ingredient_check */
#collection_search .DetailedSearch_container .ingredient_check {
    padding: 24px 0 40px;
}
#collection_search .DetailedSearch_container .ingredient_check input {
    width: 930px;
    height: 48px;
    padding: 0 13px;
    border: none;
    outline: none;
    border-radius: 48px;
    background: #eeeeee;
    font-size: 1rem;
    margin-right: 15px;
}
#collection_search .DetailedSearch_container .ingredient_check .inputBtn {
    width: 180px;
    font-size: 1rem;
}
/* ingredient_check */

/* exhibition_location_check */
#collection_search .DetailedSearch_container .exhibition_location_check {
    padding: 40px 0 48px;
}
/* 체크박스를 숨기기 */
#collection_search .DetailedSearch_container .exhibition_location_check input[type="checkbox"] {
    display: none;
  }
  
  /* 체크박스 모양을 표시하는 라벨 스타일 */
#collection_search .DetailedSearch_container .exhibition_location_check label {
    display: inline-flex;  
    align-items: center;   
    gap: 8px;              
    cursor: pointer;
    margin-right: 15px;
  }
  
  /* 체크박스를 대신할 가상 요소로 체크박스 스타일을 표시 */
#collection_search .DetailedSearch_container .exhibition_location_check label:before {
    content: '';
    display: inline-block;
    width: 16px;  
    height: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  /* 체크박스가 체크되었을 때 이미지 적용 */
#collection_search .DetailedSearch_container .exhibition_location_check input[type="checkbox"]:checked + label:before {
    background: url(../collections_search_img/check_on.svg) no-repeat center/cover;
    border: none;  /* 테두리 없애기 */
  }
/* exhibition_location_check */

/* sector_check */
#collection_search .DetailedSearch_container .sector_check {
    padding: 40px 0 48px;
}
/* 체크박스를 숨기기 */
#collection_search .DetailedSearch_container .sector_check input[type="checkbox"] {
    display: none;
  }
  
  /* 체크박스 모양을 표시하는 라벨 스타일 */
#collection_search .DetailedSearch_container .sector_check label {
    display: inline-flex;  
    align-items: center;   
    gap: 8px;              
    cursor: pointer;
    margin-right: 15px;
  }
  
  /* 체크박스를 대신할 가상 요소로 체크박스 스타일을 표시 */
#collection_search .DetailedSearch_container .sector_check label:before {
    content: '';
    display: inline-block;
    width: 16px;  
    height: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  /* 체크박스가 체크되었을 때 이미지 적용 */
#collection_search .DetailedSearch_container .sector_check input[type="checkbox"]:checked + label:before {
    background: url(../collections_search_img/check_on.svg) no-repeat center/cover;
    border: none;  /* 테두리 없애기 */
  }
/* sector_check */
/* DetailedSearch_container_left */

/* DetailedSearch_output */
#collection_search .DetailedSearch_container .DetailedSearch_output {
    width: 384px;
    padding: 0 20px;
    font-weight: 600;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
#collection_search .DetailedSearch_container .DetailedSearch_output .DetailedSearch_outputBox {
    height: 63%;
}
#collection_search .DetailedSearch_container .DetailedSearch_output > button {
    width: 140px;
    font-size: 1rem;
}
#collection_search .DetailedSearch_container .DetailedSearch_output .btn2 {
   margin: 0 4.8px 0 16px;
}

/* 선택한 조건 옵션 */
#collection_search .DetailedSearch_container .DetailedSearch_output .DetailedSearch_outputBox > span {
    display: inline-block;
}
#collection_search .DetailedSearch_container .DetailedSearch_output .DetailedSearch_outputBox > span > img {
    cursor: pointer;
    width: 15px;
    height: 15px;
    padding-right: 10px;
}
/* 선택한 조건 옵션 */
/* DetailedSearch_output */
/* 상세검색 영역 */

/* btn_area */
/* btnArea_swiper */
#collection_search .btnArea_swiper {
    margin: 24px 0;
}
#collection_search .btnArea_swiper .swiper-slide {
    width: calc(100% / 12);
}
#collection_search .btnArea_swiper .swiper-slide > button {
    width: 120px;
    padding: 0 20px;
    font-size: 1rem;
}
/* 버튼 색상 */
#collection_search .btnArea_swiper .swiper-slide:nth-child(2) button {
    color: #827554;
    border-color: #827554;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(3) > button {
    color: #707859;
    border-color: #707859;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(4) > button {
    color: #5b766a;
    border-color: #5b766a;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(5) > button {
    color: #5a807c;
    border-color: #5a807c;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(6) > button {
    color: #657983;
    border-color: #657983;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(7) > button {
    color: #67783c;
    border-color: #67783c;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(8) > button {
    color: #746a8c;
    border-color: #746a8c;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(9) > button {
    color: #846885;
    border-color: #846885;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(10) > button {
    color: #906272;
    border-color: #906272;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(11) > button {
    color: #9b735f;
    border-color: #9b735f;
}
#collection_search .btnArea_swiper .swiper-slide:nth-child(12) > button {
    color: #000;
    border-color: #000;
}
/* 버튼 색상 */
/* btnArea_swiper */
/* btn_area */

/* collection_checkbox */
/* 체크박스를 숨기기 */
#collection_search .collection_checkbox input[type="checkbox"] {
    display: none;
  }
  
  /* 체크박스 모양을 표시하는 라벨 스타일 */
#collection_search .collection_checkbox label {
    display: inline-flex;  
    align-items: center;   
    gap: 8px;              
    cursor: pointer;
    margin-right: 15px;
  }
  
  /* 체크박스를 대신할 가상 요소로 체크박스 스타일을 표시 */
#collection_search .collection_checkbox label:before {
    content: '';
    display: inline-block;
    width: 16px;  
    height: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  /* 체크박스가 체크되었을 때 이미지 적용 */
#collection_search .collection_checkbox input[type="checkbox"]:checked + label:before {
    background: url(../collections_search_img/check_on.svg) no-repeat center/cover;
    border: none;  /* 테두리 없애기 */
  }
  /* collection_checkbox */

/* collection_search 탭 메뉴 */
#collection_search .DetailedSearch_container .DetailedSearch_container_left .DetailedSearch_list .TapTitle.on {
    border: 2px solid #000;
    color: #000;
}
#collection_search .DetailedSearch_container .DetailedSearch_container_left .Tap {
    display: none;
}
#collection_search .DetailedSearch_container .DetailedSearch_container_left .Tap.on {
    display: block;
}
/* collection_search 탭 메뉴 */
/* //collection_search */

/* collections */
#collections .collections_container {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
}
#collections .collections_container .collections_item {
    display: block;
    width: 19%;
    height: 426px;
    padding-bottom: 100px;
    margin-bottom: 20px;
}
/* 이미지 */
#collections .collections_container .collections_item .collections_item_imgbox {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 80%;
    padding-bottom: 20px;
}
#collections .collections_container .collections_item .collections_item_imgbox > img {
    margin: 0 auto;
    width: 90%; 
    height: auto;
}
/* 이미지 */

/* 텍스트 */
#collections .collections_container .collections_item .section_text {
    font-weight: 600;
    padding-bottom: 10px;
    width: 100%;
}
#collections .collections_container .collections_item .section_text:last-child {
    color: #949494;
}
#collections .collections_container .collections_item .section_sub_title {
    padding-bottom: 10px;
}
/* 텍스트 */
/* //collections */