@charset "utf-8";

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
/* 공통 */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    position: relative;
}
.inner {
    max-width: 100rem;
    margin: 0 auto;
}
section {
    padding: 2.5rem 0 6.25rem ;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.section_title { /* 섹션 타이틀 */
    font-size: 1.75rem;
    font-weight: 600;
}
.section_text { /* 섹션 텍스트 */
    font-size: 0.93rem;
}
.section_link {  /* 섹션 서브 텍스트 */
    display: inline-block;
    padding: 0 0.62rem;
    border: 1px solid #000;
    border-radius: 0.81rem;
    margin: 0.25rem 0.12rem;
}
.view_all {
    background: url(../index_img/icon_btnMore.svg) no-repeat right/4px;
    font-size: 0.93rem;
    display: inline-block;
    padding-right: 0.6rem;
}

/* 버튼 */
button {
    height: 3rem;
    padding: 0 1.87rem;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
}
.btn1 {
    margin-right: 0.93rem;
    background: #000;
    color: #fff;
}
.btn2 {
    background: #fff;
}
/* 버튼 */
/* 공통 */

/* ------------------------------------------------------------------- */

#pan {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 999;
    display: none;
}
#pan2 {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 999;
    display: none;
}

/* header */
header {
    position: fixed;
    width: 100%;
    left: 50%; top: 0;
    transform: translateX(-50%);
    background: #fff;
    padding-top: 2.5rem;
    z-index: 1000;
    transition: top 0.5s;
}
/* 헤더 상단 부분 */
#header_top { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}
#header_top .header_top_right a {
    margin-right: 1.25rem;
}
#header_top .header_top_right .join {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #000;
    padding: 1.8rem 1.4rem;
    border-radius: 50%;
    vertical-align: middle;
}
#header_top .header_top_right select {
    border: none;
    outline: none;
}
/* 헤더 상단 부분 */

/* 헤더 하단부분 */
#header_bottom {
    font-size: 1.75rem;
    font-weight: 700;
    height: 3rem;
}
#header_bottom a {
    display: inline-block;
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
}
/* 메뉴 */
#header_bottom nav {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
#header_bottom nav .nav_box > a {
    opacity: 0.5;
    transition: all 0.5s;
}
#header_bottom nav .nav_box > a.on { 
    opacity: 1;
}
/* 메뉴 */

/* 검색창 */
#header_bottom nav .search {
    background: url(../index_img/btn_totalSearch.svg) no-repeat center/ contain;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
}
#header_bottom nav .search_close {
    background: url(../index_img/icon_dialog_closeL.png) no-repeat center/ contain;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
    display: none;
}
#header_bottom .search_box {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: none;
}
#header_bottom .search_box input::placeholder { /* 플레이스홀더 텍스트 */
    font-size: 0.93rem;
}
#header_bottom .search_box input { /* 검색어 텍스트 */
    padding: 0.62rem;
    width: 86%;
    font-size: 1.867rem;
    font-weight: 600;
    border: none;
    outline: none;
}
#header_bottom .search_box .search_btn {
    width: 11.25rem;
    vertical-align: 0.438rem;
}
/* 검색창 */

/* 하위메뉴 */
#header_bottom .sub_menu {
    position: absolute;
    display: none;
    border-bottom: 1px solid #000;
    width: 100%;
    z-index: 1000;
}
#header_bottom .sub_menu.on {
    display: block;
}
/* 하위메뉴 */
/* header */

/* --------------------------------------------------------------------------------------------------- */

/* footer */
#footer_top,
#footer_bottom { /* 푸터 위 섹션 아래 섹션 사이즈 */
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 5rem 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
/* #footer_top */
/* footer_top_left */
#footer_top .footer_top_left .section_title:first-child {
    margin-bottom: 1.25rem;
}
#footer_top .footer_top_left .subscribe {
    display: block;
    width: 11.25rem;
    height: 3rem;
    text-align: center;
    line-height: 2.9rem;
    border-radius: 3rem;
    background: #fff;
    cursor: pointer;
    font-size: 0.93rem;
    font-weight: 600;
    border: 1px solid #000;
    margin-bottom: 2rem;
}
#footer_top .footer_top_left .section_title {
    display: block;
    font-weight: 600;
    margin-bottom: 0.62rem;
}
/* footer_top_left */

/* footer_top_right */
#footer_top .footer_top_right {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
#footer_top .footer_top_right .right01 > li:first-child > a {
    font-weight: 600;
}
/* footer_top_right */
/* footer_top */

/* footer_bottom */
#footer_bottom {
    border-bottom: none;
}
/* footer_bottom_left */
/* address */
#footer_bottom .footer_bottom_left .address {
    margin-bottom: 2.5rem;
}
#footer_bottom .footer_bottom_left .address .address_inner a, 
#footer_bottom .footer_bottom_left .address .address_inner span, 
#footer_bottom .footer_bottom_left .address .address_inner:last-child  {
    font-weight: 300;
}
/* address */
/* logo */
#footer_bottom .footer_bottom_left .logo {
    width: 15rem;
    height: 3.5rem;
}
#footer_bottom .footer_bottom_left .logo > a {
    width: 100%;
    height: 100%;
}
#footer_bottom .footer_bottom_left .logo > a > img {
    width: 100%;
    height: 100%;
}
/* logo */
/* footer_bottom_left */

/* footer_bottom_right */
/* wa_logo */
#footer_bottom .wa_logo {
    width: 5.62rem;
    height: 3.84rem;
}
#footer_bottom .wa_logo > a {
    width: 100%;
    height: 100%;
}
#footer_bottom .wa_logo > a > img {
    width: 100%;
    height: 100%;
}
/* wa_logo */
/* footer_bottom_right */
/* footer_bottom */
/* footer */

/* top_button */
#top_button {
    position: fixed;
    right: 4rem; bottom: 1.87rem;
    z-index: 1;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 3.75rem;
}
#top_button .top_button_img {
    width: 50%;
    height: 30%;
}
/* top_button */