@charset "utf-8";

/* 폰트 */
/* @font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url(../webfonts/SpoqaHanSansNeo-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url(../webfonts/SpoqaHanSansNeo-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url(../webfonts/SpoqaHanSansNeo-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url(../webfonts/SpoqaHanSansNeo-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url(../webfonts/SpoqaHanSansNeo-Bold.otf) format('opentype');
} */

* {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}
/* 폰트 */

/* 공통 */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-size: 1rem;
    position: relative;
}
.inner {
    max-width: 1600px;
    margin: 0 auto;
}
section {
    padding: 40px 0 100px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.section_title { /* 섹션 타이틀 */
    font-size: 1.75rem;
    font-weight: 600;
}
.section_text { /* 섹션 텍스트 */
    font-size: 0.938rem;
}

.section_sub_title { /* 섹션 서브 타이틀 */
    font-size: 1.31rem;
    font-weight: 600;
}

.section_sub_text { /* 섹션 서브 텍스트 */
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -0.8px;
}

.section_link {  /* 섹션 서브 텍스트 a태그 */
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 4px 2px;
}
.view_all {
    background: url(../index_img/icon_btnMore.svg) no-repeat right/4px;
    font-size: 0.938rem;
    display: inline-block;
    padding-right: 9.6px;
}

.page_num { /* 페이지 번호 */
    text-align: center;
}

/* 버튼 */
button {
    height: 48px;
    padding: 0 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 48px;
    cursor: pointer;
    font-weight: 600;
}
.btn1 {
    margin-right: 14.9px;
    background: #000;
    color: #fff;
}
.btn2 {
    background: #fff;
}
/* 버튼 */
/* 공통 */

/* ------------------------------------------------------------------- */

#pan {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 999;
    display: none;
}
#pan2 {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 999;
    display: none;
}

/* header */
#responsive_header {
    display: none;
}
.gnb_area {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    left: 50%; top: 0;
    transform: translateX(-50%);
    background: #fff;
    padding-top: 40px;
    z-index: 1000;
    transition: top 0.5s;
}
/* 헤더 상단 부분 */
#header_top { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 11.2px;
}
#header_top .header_top_right a {
    margin-right: 20px;
}
#header_top .header_top_right .join {
    display: inline-block;
    font-size: 0.938rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #000;
    padding: 25px 18.6px;
    border-radius: 50%;
    vertical-align: middle;
}
#header_top .header_top_right select {
    border: none;
    outline: none;
}
/* 헤더 상단 부분 */

/* 헤더 하단부분 */
#header_bottom {
    font-size: 1.75rem;
    font-weight: 700;
    height: 48px;
}
#header_bottom a {
    display: inline-block;
    margin-right: 24px;
    padding-bottom: 8px;
}
/* 메뉴 */
#header_bottom nav {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
#header_bottom nav .nav_box > a {
    opacity: 0.5;
    transition: all 0.5s;
}
#header_bottom nav .nav_box > a.on { 
    opacity: 1;
}
/* 메뉴 */

/* 검색창 */
#header_bottom nav .search {
    background: url(../index_img/btn_totalSearch.svg) no-repeat center/ contain;
    width: 25.6px;
    height: 25.6px;
    margin-right: 0;
}
#header_bottom nav .search_close {
    background: url(../index_img/icon_dialog_closeL.png) no-repeat center/ contain;
    width: 25.6px;
    height: 25.6px;
    margin-right: 0;
    display: none;
}
#header_bottom .search_box {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: none;
}
#header_bottom .search_box input::placeholder { /* 플레이스홀더 텍스트 */
    font-size: 0.938rem;
}
#header_bottom .search_box input { /* 검색어 텍스트 */
    padding: 10px;
    width: 86%;
    font-size: 1.875rem;
    font-weight: 600;
    border: none;
    outline: none;
}
#header_bottom .search_box .search_btn {
    width: 180px;
    vertical-align: 7px;
}
/* 검색창 */

/* 하위메뉴 */
#header_bottom .sub_menu {
    position: absolute;
    display: none;
    border-bottom: 1px solid #000;
    width: 100%;
    z-index: 1000;
}
#header_bottom .sub_menu.on {
    display: block;
}
/* 하위메뉴 */
/* header */

/* --------------------------------------------------------------------------------------------------- */

/* footer */
#footer_top,
#footer_bottom { /* 푸터 위 섹션 아래 섹션 사이즈 */
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#footer_top .footer_top_left .section_title:first-child {
    margin-bottom: 20px;
}
#footer_top .footer_top_left .subscribe {
    display: block;
    width: 180px;
    height: 48px;
    text-align: center;
    line-height: 46.4px;
    border-radius: 48px;
    background: #fff;
    cursor: pointer;
    font-size: 0.938rem;
    font-weight: 600;
    border: 1px solid #000;
    margin-bottom: 32px;
}
#footer_top .footer_top_left .section_title {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}
/* footer_top_left */

/* footer_top_right */
#footer_top .footer_top_right {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
#footer_top .footer_top_right .right01 > li:nth-of-type(2) > a {
    font-weight: 600;
}
/* footer_top_right */
/* footer_top */

/* footer_bottom */
#footer_bottom {
    border-bottom: none;
}
#footer_bottom .footer_bottom_left .address {
    margin-bottom: 40px;
}
#footer_bottom .footer_bottom_left .address .address_inner a, 
#footer_bottom .footer_bottom_left .address .address_inner span, 
#footer_bottom .footer_bottom_left .address .address_inner:last-child  {
    font-weight: 300;
}
#footer_bottom .footer_bottom_left .logo {
    width: 240px;
    height: 56px;
}
#footer_bottom .footer_bottom_left .logo > a {
    width: 100%;
    height: 100%;
}
#footer_bottom .footer_bottom_left .logo > a > img {
    width: 100%;
    height: 100%;
}
#footer_bottom .wa_logo {
    width: 89.9px;
    height: 61.4px;
}
#footer_bottom .wa_logo > a {
    width: 100%;
    height: 100%;
}
#footer_bottom .wa_logo > a > img {
    width: 100%;
    height: 100%;
}
/* footer_bottom_right */

/* top_button */
#top_button {
    position: fixed;
    right: 2%; bottom: 3%;
    z-index: 1;
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    background: #fff;
}
#top_button .top_button_img {
    width: 50%;
    height: 30%;
}
/* top_button */

/* 모달창 */
.modal_area {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    display: none;
}
.modal_area .modal_area_box {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    padding: 30px 30px 16px 30px;
    background: #fff;
    border-radius: 16px;
}

/* 텍스트 */
.modal_area .section_title {
    font-size: 1.5rem; /* 유지 */
    font-weight: 600;
    margin-bottom: 15px;
}
.modal_area .section_sub_text {
    margin-bottom: 15px;
}
.modal_area .section_text {
    margin-bottom: 15px;
}
.modal_area .modal_text {
    display: block;
    font-size: 0.81rem; /* 유지 */
    color: #949494;
    margin-bottom: 15px;
}
/* 텍스트 */

/* 버튼 */
.modal_area .modal_btn_area {
    text-align: center;
}
.modal_area .close {
    position: absolute;
    top: 8%; right: 2%;
    display: block;
    background: url(../index_img/icon_dialog_closeL.png) no-repeat center / 20px;
    width: 50px;
    height: 50px;
}
/* 버튼 */
/* 모달창 */