@charset "utf-8";

/* 공통 */
section {
    padding: 60px 104px;
    border: none;
}
section > h2 {
    margin-bottom: 20px;
}
/* 공통 */

/* -------------------------------------------------------------------- */

/* header */
#gwanlam_chamyeo_header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background: #fff;
}

/* gwanlam_chamyeo_header_top */
#gwanlam_chamyeo_header_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    line-height: 60px;
    align-items: center;
}

/* 로고 */
#gwanlam_chamyeo_header_top .logo > a {
    display:inline-block;
    width: 46.9px;
    height: 48px;
    overflow: hidden;
    padding-top: 20px;
}
#gwanlam_chamyeo_header_top .logo > a > img {
    height: 100%;
}
/* 로고 */

/* header_top_title */
#gwanlam_chamyeo_header_top .header_top_title > a {
    display: inline-block;
    margin-right: 24px;
    opacity: 0.5;
    font-weight: 600;
    transition: opacity 0.5s;
}
#gwanlam_chamyeo_header_top .header_top_title > a.on {
    opacity: 1;
}
#gwanlam_chamyeo_header_top .header_top_title > a:last-child {
    margin-right: 0;
}
/* header_top_title */
/* gwanlam_chamyeo_header_top */

/* gwanlam_chamyeo_header_bottom */
#gwanlam_chamyeo_header_bottom {
    width: 100%;
    box-sizing: border-box;
    line-height: 60px;
    align-items: center;
    text-align: center;
    background: #fff;
}
#gwanlam_chamyeo_header_bottom.on {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* sub_menu */
#gwanlam_chamyeo_header_bottom .sub_menu {
    display: none;
    width: 100%;
}
#gwanlam_chamyeo_header_bottom .sub_menu > a {
    display: inline-block;
    font-weight: 600;
    margin-right: 24px;
}
#gwanlam_chamyeo_header_bottom .sub_menu > a:last-child {
    margin-right: 0;
}
#gwanlam_chamyeo_header_bottom .sub_menu.on {
    display: block;
}
/* sub_menu */
/* gwanlam_chamyeo_header_bottom */

/* 검색창 */
#gwanlam_chamyeo_header_top .search {
    background: url(../index_img/btn_totalSearch.svg) no-repeat center/ contain;
    width: 25.6px;
    height: 25.6px;
}
#gwanlam_chamyeo_header_top .search_close {
    background: url(../index_img/icon_dialog_closeL.png) no-repeat center/ contain;
    width: 25.6px;
    height: 25.6px;
    display: none;
}
#gwanlam_chamyeo_header_bottom .search_box {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%; left: 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: none;
}
#gwanlam_chamyeo_header_bottom input::placeholder { /* 플레이스홀더 텍스트 */
    font-size: 0.93rem;
}
#gwanlam_chamyeo_header_bottom .search_box input { /* 검색어 텍스트 */
    padding: 9.92px;
    width: 86%;
    font-size: 1.867rem;
    font-weight: 600;
    border: none;
    outline: none;
}
#gwanlam_chamyeo_header_bottom .search_box .search_btn {
    width: 180px;
    vertical-align: 7px;
}
/* 검색창 */

/* intro */
#intro {
    background: no-repeat center / cover;
    border: none;
    width: 100%;
    height: 100vh;
    position: relative;
}
/* 메인 이미지 */
#intro.seoul { /* 서울 */
    background-image: url(../gwanlam_chamyeo_img/seoul/seoul_day.png);
}
#intro.gwachun { /* 과천 */
    background-image: url(../gwanlam_chamyeo_img/gwachun/gwacheon_day.png);
}
/* 메인 이미지 */

/* 메인 타이틀 */
#intro .intro_text {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 20px;
    font-size: 1.31rem;
}
#intro .section_title:nth-of-type(1) {
    text-align: center;
}
/* 메인 타이틀 */

/* 안내창 */
#intro .guide_box_area {
    position: absolute;
    left: 0.7%; bottom: 1.4%;
    display: flex;
    justify-content: space-between;
}
#intro .guide_box_area .guide_box {
    background: #fff;
    width: 309.9px;
    border: 1px solid #000;
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
}
#intro .guide_box_area .guide_box .guide_title {
    font-size: 1.06rem;
    font-weight: 600;
    margin-bottom: 20px;
}
#intro .guide_box_area .guide_box p:nth-child(3) {
    margin-bottom: 20px;
}
#intro .guide_box_area .guide_box .guide_text {
    font-size: 0.81rem;
    font-weight: 600;
}
#intro .guide_box_area .guide_arrow_left { /* 왼쪽 화살표 */
    display: block;
    background: #fff url(../gwanlam_chamyeo_img/seoul/icon_arrow_b.png) no-repeat center / 25% 50%;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 50%;
    transform: rotate(180deg);
}
#intro .guide_box_area .guide_arrow_right { /* 오른쪽 화살표 */
    display: block;
    background: #fff url(../gwanlam_chamyeo_img/seoul/icon_arrow_b.png) no-repeat center / 25% 50%;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    border-radius: 50%;
    display: none;
}
/* 안내창 */

/* guide_header */
.guide_header .guide_header_swiper { /* 모바일 가이드 헤더 */
    display: none;
}
.guide_header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background: #fff;
    z-index: 1100;
}
.guide_header.fixed { /* 스크롤 이벤트 */
    position: fixed;
    top: 0; left: 0;
}
.guide_header .guide_header_nav_box {
    width: 73%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}
.guide_header .guide_header_nav_box > a {
    display: inline-block;
    text-align: center;
    padding: 0 23px;
    line-height: 60px;
    color: #949494;
    transition: color 0.5s;
}
.guide_header .guide_header_nav_box > a:hover {
    color: #000;
}
.guide_header .guide_header_nav_box > a.on {
    color: #000;
}
/* //guide_header */

/* display */
/* display_swiper */
/* 슬라이드 크기 */
#display .displays_swiper {
    width: 100%;
    margin-bottom: 100px;
}
#display .displays_swiper .swiper-wrapper {
    width: 100%;
}
#display .displays_swiper .swiper-wrapper .swiper-slide {
    width: 270px;
}
#display .displays_swiper .swiper-wrapper .swiper-slide:first-child {
    padding-left: 0;
}
/* 슬라이드 크기 */
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item {
    display: block;
}
/* 이미지 크기 */
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .display_item_imgbox {
    width: 100%;
    margin-bottom: 20px;
}
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .display_item_imgbox .display_img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
/* 이미지 크기 */

/* 텍스트 */
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .section_sub_text {
    letter-spacing: -1.5px;
}
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .section_text:nth-of-type(1) {
    font-weight: 600;
}
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .section_text:nth-of-type(3) {
    color: #949494;
}
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .section_text,
#display .displays_swiper .swiper-wrapper .swiper-slide .display_item .section_link {
    margin-bottom: 12.8px;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#display .displays_swiper .swiper-button-next,
#display .displays_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#display .displays_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#display .displays_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* display_swiper */
/* //display */

/* education */
/* education_swiper */
/* 슬라이드 크기 */
#education .education_swiper {
    width: 100%;
    margin-bottom: 100px;
}
#education .education_swiper .swiper-wrapper {
    width: 100%;
}
#education .education_swiper .swiper-wrapper .swiper-slide {
    width: 287.5px;
}
#education .education_swiper .swiper-wrapper .swiper-slide:first-child {
    padding-left: 0;
}
/* 슬라이드 크기 */
#education .education_swiper .swiper-wrapper .swiper-slide .education_item {
    display: block;
}
/* 이미지 크기 */
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .education_item_imgbox {
    width: 100%;
    margin-bottom: 20px;
}
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .education_item_imgbox .education_img {
    width: 100%;
    height: 100%;
}
/* 이미지 크기 */

/* 텍스트 */
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .section_title {
    letter-spacing: -0.8px;
}
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .section_text:nth-of-type(1) {
    font-weight: 600;
}
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .section_text:nth-of-type(3) {
    color: #949494;
}
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .section_text,
#education .education_swiper .swiper-wrapper .swiper-slide .education_item .section_link {
    margin-bottom: 12.8px;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#education .education_swiper .swiper-button-next,
#education .education_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#education .education_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#education .education_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* education_swiper */
/* //education */

/* event */
/* event_swiper */
#event {
    margin-bottom: 70px;
}
/* 슬라이드 크기 */
#event .event_swiper {
    width: 100%;
    margin-bottom: 100px;
}
#event .event_swiper .swiper-wrapper {
    width: 100%;
}
#event .event_swiper .swiper-wrapper .swiper-slide {
    width: 287.5px;
}
#event .event_swiper .swiper-wrapper .swiper-slide:first-child {
    padding-left: 0;
}
/* 슬라이드 크기 */
#event .event_swiper .swiper-wrapper .swiper-slide .event_item {
    display: block;
}
/* 이미지 크기 */
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .event_item_imgbox {
    width: 100%;
    margin-bottom: 20px;
}
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .event_item_imgbox .event_img {
    width: 100%;
    height: 100%;
}
/* 이미지 크기 */

/* 텍스트 */
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .section_title {
    letter-spacing: -0.8px;
}
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .section_text:nth-of-type(1) {
    font-weight: 600;
}
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .section_text:nth-of-type(3) {
    color: #949494;
}
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .section_text,
#event .event_swiper .swiper-wrapper .swiper-slide .event_item .section_link {
    margin-bottom: 12.8px;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#event .event_swiper .swiper-button-next,
#event .event_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#event .event_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#event .event_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* event_swiper */
/* //event */

/* viewing */
#viewing .viewing_scroll_box {
    width: 100%;
}
/* 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
/* th */
  th {
    background: #000;
    color: #fff;
  }
  th:first-child {
    width: 220px;
  }
/* th */

/* td */
 tbody tr:nth-child(2) td:nth-child(2) {
    width: 80px;
 } 
 .td_inner {
    width: 600px;
    text-align: left;
    color: #666666;
    line-height: 25.6px;
 }
/* td */
thead > tr > th:first-child {
    border-left: none;
}
thead > tr > th:last-child {
    border-right: none;
}
tbody > tr > td:first-child {
    border-left: none;
}
tbody > tr > td:last-child {
    border-right: none;
}
/* 테이블 */
/* //viewing */

/* floor_guide */
#floor_guide .floor_area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* TapTitle */
#floor_guide .floor_area ul {
    width: 10%;
    height: 100%;
    margin-top: 8%;
}
#floor_guide .floor_area ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 15%;
}
#floor_guide .floor_area ul li > a {
    display: block;
    height: 100%;
    line-height: 85px;
    text-align: center;
    color: #949494;
    transition: all 0.3s;
}
#floor_guide .floor_area ul li > a:hover {
    color: #000;
}
#floor_guide .floor_area ul li .TapTitle.on {
    color: #000;
}
/* TapTitle */

/* Tap */
#floor_guide .floor_area .floor_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 이미지 */
#floor_guide .floor_area .floor_img > img:first-child {
    width: 70%;
}
#floor_guide .floor_area .floor_img > img:nth-of-type(2) {
    width: 30%;
}
#floor_guide .floor_area .floor_img > img:last-child {
    display: none;
}
/* 이미지 */
#floor_guide .floor_area .Tap {
    width: 90%;
    display: none;
}
#floor_guide .floor_area .Tap.on {
    display: block;
}
/* Tap */
/* //floor_guide */

/* amenities */
/* amenities_swiper */
#amenities .amenities_swiper {
    width: 100%;
}
#amenities .amenities_swiper .swiper-slide {
    width: 30%;
    height: 100%;
}
#amenities .amenities_swiper .swiper-slide .amenities_item {
    width: 100%;
    height: 100%;
}
/* 이미지 사이즈 */
#amenities .amenities_swiper .swiper-slide .amenities_item .amenities_item_imgbox {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}
#amenities .amenities_swiper .swiper-slide .amenities_item .amenities_item_imgbox .amenities_img {
    width: 100%;
    height: 100%;
}
/* 이미지 사이즈 */

/* 텍스트 */
#amenities .amenities_swiper .swiper-slide .amenities_item p {
    margin-bottom: 10px;
}
#amenities .amenities_swiper .swiper-slide .amenities_item ul li {
    position: relative;
    padding-left: 10px;
    color: #666666;
}
#amenities .amenities_swiper .swiper-slide .amenities_item ul li:before {
    position: absolute;
    content: '';
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 3px; height: 3px;
    background: #666666;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#amenities .amenities_swiper .swiper-button-next,
#amenities .amenities_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    
}
#amenities .amenities_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#amenities .amenities_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* amenities_swiper */
/* //amenities */

/* cultural */
/* cultural_swiper */
#cultural .amenities_swiper {
    width: 100%;
}
#cultural .cultural_swiper .swiper-slide {
    width: 50%;
    height: 100%;
}
#cultural .cultural_swiper .swiper-slide .cultural_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
/* 이미지 사이즈 */
#cultural .cultural_swiper .swiper-slide .cultural_item .cultural_item_imgbox {
    width: 57%;
}
#cultural .cultural_swiper .swiper-slide .cultural_item .cultural_item_imgbox .cultural_img {
    width: 100%;
    height: 100%;
}
/* 이미지 사이즈 */

/* 텍스트 */
#cultural .cultural_swiper .swiper-slide .cultural_item .cultural_item_textbox {
    width: 39%;
}
#cultural .cultural_swiper .swiper-slide .cultural_item .cultural_item_textbox p {
    margin-bottom: 10px;
    word-break: keep-all;
}
#cultural .cultural_swiper .swiper-slide .cultural_item .cultural_item_textbox p:last-child {
    line-height: 1.8;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#cultural .cultural_swiper .swiper-button-next,
#cultural .cultural_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    
}
#cultural .cultural_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#cultural .cultural_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* cultural_swiper */
/* //cultural */

/* directions */
#directions .directions_m_area {
    display: none;
}
#directions .directions_area {
    display: flex;
    justify-content: left;
    height: 100%;
    margin-bottom: 40px;
}
/* TapTitle */
#directions .directions_area ul {
    width: 25%;
    height: 481.63px;
}
#directions .directions_area ul li {
    width: 100%;
    height: 25%;
}
#directions .directions_area ul li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 120px;
    transition: all 0.3s;
}
#directions .directions_area ul li > a:hover {
    background: #000;
    color: #fff;
}
#directions .directions_area ul li > a > img {
    vertical-align: -12px;
    padding: 0 5% 0 15%;
}
#directions .directions_area ul li .MapTapTitle.on {
    background: #000;
    color: #fff;
}
/* TapTitle */

/* Tap */
#directions .directions_area .MapTap {
    width: 75%;
    display: none;
}
#directions .directions_area .MapTap > img {
    width: 100%;
    height: 100%;
}
#directions .directions_area .MapTap.on {
    display: block;
}
/* Tap */

/* map_link */
#directions .map_link {
    text-align: right;
    padding-bottom: 40px;
}
#directions .map_link > a {
    display: inline-block;
    background: url(../gwanlam_chamyeo_img/seoul/icon_arrow_bold.png)no-repeat right / 5px;
    padding-right: 10px;
    font-weight: 600;
    margin-left: 30px;
}
#directions .map_link > a > img {
    width: 18px;
    height: 15px;
    padding-right: 10px;
    vertical-align: -1px;
}
#directions .map_link > a:nth-child(2) > img {
    width: 11.2px;
}
#directions .map_link > a:nth-child(3) > img {
    width: 14.4px;
}
#directions .map_link > a:nth-child(4) > img {
    width: 24px;
}
/* map_link */

.manners {
    font-weight: 600;
    margin-left: -100px;
}
.manners_btn {
    margin-left: -100px;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 200px;
}
/* //directions */

/* 모달창 */
.displayModal .modal_area_box {
    width: 560px;
}
/* 텍스트 */
.displayModal .section_sub_text {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
/* 텍스트 */

/* 버튼 */
.displayModal .modal_btn_area {
    text-align: right;
    margin-bottom: 20px;
}
.displayModal .close {
    position: absolute;
    top: 4%; right: 2%;
    display: block;
    background: url(../index_img/icon_x.png) no-repeat center / 10px;
    width: 49.92px;
    height: 49.92px;
}
/* 버튼 */

/* "modal_dl_box */
.displayModal .modal_dl_box {
    display: flex;
    justify-content: left;
}
.displayModal .modal_dl_box > dl:first-child {
    width: 25%;
}
.displayModal .modal_dl_box > dl:last-child {
    width: 75%;
}
.displayModal .modal_dl_box > dl > dt, 
.displayModal .modal_dl_box > dl > dd {  
    margin-bottom: 15px;
    font-weight: 400;
}
.displayModal .modal_dl_box > dl > dt {
    font-weight: 600;
}
.displayModal .modal_dl_box > dl > dt:nth-child(3) {
    margin-bottom: 36px;
}
/* "modal_dl_box */
/* 모달창 */

