@charset "utf-8";

/* intro */
#intro {
    padding-top: 288px;
}
#intro .main_img {
    background: url(../index_img/2024081304560356317128.png) no-repeat center/cover;
    width: 100%;
    height: 664px;
    margin-bottom: 32px;
}
#intro .intro_text_area {
    display: flex;
    justify-content: space-between;
}
#intro .intro_text_area .intro_title > h2 {
    font-size: 2.5rem;
    margin-bottom: 10.8px;
}
#intro .intro_text_area .intro_title > p {
    font-size: 0.93rem;
    font-weight: 600;
}
#intro .intro_text_area .shortcut {
    display: block;
    height: 48px;
    padding: 0 30px;
    border: 1px solid #000;
    border-radius: 48px;
    line-height: 48px;
}
/* //intro */

/* art_gallery */
#art_gallery .art_gallery_area {
    display: flex;
    justify-content: space-between;
}
#art_gallery .art_gallery_area .art_gallery_card {
    width: 23.5%;
    height: 466.9px;
}
/* 이미지 */
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img  {
    display: block;
    background: no-repeat center/cover;
    width: 100%;
    height: 50%;
    margin: 25px 0 20px;
}
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img01 {
   background-image: url(../index_img/img_place02_off.jpg);
}
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img02 {
   background-image: url(../index_img/img_place01_off.jpg);
}
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img03 {
   background-image: url(../index_img/img_place03_off.jpg);
}
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img04 {
   background-image: url(../index_img/img_place04_off.jpg);
}
/* 이미지 */
#art_gallery .art_gallery_area .art_gallery_card .section_title {
    margin-bottom: 16px;
}
#art_gallery .art_gallery_area .art_gallery_card .section_text {
    margin-bottom: 16px;
}
/* //art_gallery */

/* display */
/* display_title_area */
#display .title_area .tap_title_area .section_title { 
    /* 공통부분이 있어 h2로 작업 */
    cursor: pointer;
}
/* display_title_area */

/* display_tap_swiper */
/* 슬라이드 크기 */
#display .display_swiper {
    width: 100%;
    max-height: 662.9px;
}
#display .display_swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}
#display .display_swiper .swiper-wrapper .swiper-slide {
    width: 400px;
    height: 100%;
}
/* 슬라이드 크기 */
#display .display_swiper .swiper-wrapper .swiper-slide .display_item {
    display: block;
}
/* 이미지 크기 */
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .display_item_imgbox {
    width: 100%;
    max-height: 400px;
    margin-bottom: 25px;
}
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .display_item_imgbox .display_img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
/* 이미지 크기 */

/* 텍스트 */
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_title {
    letter-spacing: -0.8px;
}
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_text:nth-of-type(1),
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_text:nth-of-type(3) {
    font-weight: 600;
}
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_text:nth-of-type(3) {
    color: #949494;
}
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_text,
#display .display_swiper .swiper-wrapper .swiper-slide .display_item .section_link {
    margin-bottom: 12.8px;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#display .display_swiper .swiper-button-next,
#display .display_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#display .display_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#display .display_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* display_tap_swiper */

.title_area { /* section title 정렬 */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.tap_title_area { /* tap메뉴 타이틀 */
    display: flex;
    justify-content: space-between;
    width: 40%;
}
/* Tap 메뉴 */
.TapTitle {
    opacity: 0.5;
    transition: all 0.5s;
}
.TapTitle.on {
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    opacity: 1;
}
.Tap {
    display: none;
}
.Tap.on {
    display: block;
}
/* Tap 메뉴 */
/* display */

/* collection */
/* collection_swiper */
/* 슬라이드 크기 */
#collection .collection_swiper {
    width: 100%;
    max-height: 480px;
}
#collection .collection_swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide {
    width: 400px;
    height: 100%;
}
/* 슬라이드 크기 */
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item {
    display: block;
}

/* 이미지 크기 */
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .collection_item_imgbox {
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .box01 { /* 국립현대미술관 이건희컬렉션 */
    height: 40%;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .box02 { /* 국립현대미술관 소장품300 */
    height: 80%;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .box03 { /* 국립현대미술관 소장품300 */
    height: 60%;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .box04 { /* 국립현대미술관 소장품300 */
    height: 38%;
}
#collection .collection_swiper .swiper-wrapper .swiper-slide .collection_item .collection_item_imgbox .collection_img {
    width: 100%;
    height: 100%;
}
/* 이미지 크기 */

/* 스와이퍼 버튼 */
#collection .collection_swiper .swiper-button-next,
#collection .collection_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#collection .collection_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#collection .collection_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* collection_swiper */
/* collection */

/* newsletter */
/* newsletter_swiper */
/* 슬라이드 크기 */
#newsletter .newsletter_swiper {
    width: 100%;
    max-height: 432px;
}
#newsletter .newsletter_swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide {
    width: 400px;
    height: 100%;
}
/* 슬라이드 크기 */
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide .newsletter_item {
    display: block;
}
/* 이미지크기 */
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide .newsletter_item .newsletter_item_imgbox {
    width: 100%;
    max-height: 368px;
    overflow: hidden;
    margin-bottom: 25px;
}
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide .newsletter_item .newsletter_item_imgbox .newsletter_img {
    width: 100%;
    height: 100%;
}
/* 이미지크기 */
/* 텍스트 */
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide .newsletter_item .section_text {
    font-weight: 600;
}
#newsletter .newsletter_swiper .swiper-wrapper .swiper-slide .newsletter_item .section_text:nth-of-type(2) {
    color: #949494;
}
/* 텍스트 */

/* 스와이퍼 버튼 */
#newsletter .newsletter_swiper .swiper-button-next,
#newsletter .newsletter_swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
#newsletter .newsletter_swiper .swiper-button-next:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 0 0 3.2px;
}
#newsletter .newsletter_swiper .swiper-button-prev:after {
    font-size: 1.1rem;
    color: #fff;
    padding: 1.6px 3.2px 0 0;
}
/* 스와이퍼 버튼 */
/* newsletter_swiper */
/* newsletter */

/* learn_more */
#learn_more {
    padding-top: 0;
}
/* 멤버쉽 배너 */
#learn_more .membership {
    display: block;
    width: 100%;
    max-height: 186.9px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    margin-bottom: 16px;
    overflow: hidden;
}
#learn_more .membership > img {
    width: 100%;
    height: 100%;
}
#learn_more .learn_more_area {
    width: 100%;
    height: 310.9px;
    display: flex;
    justify-content: space-between;
}
#learn_more .learn_more_area .learn_more_card {
    width: 23.5%;
    height: 100%;
}
/* 이미지 */
#learn_more .learn_more_area .learn_more_card figure {
    background: no-repeat center/cover;
    width: 100%;
    height: 80%;
    margin: 25px 0 20px;
}
#learn_more .learn_more_area .learn_more_card .learn_more_img01 {
    background-image: url(../index_img/img_link01.jpg);
}
#learn_more .learn_more_area .learn_more_card .learn_more_img02 {
    background-image: url(../index_img/img_link02.jpg);
}
#learn_more .learn_more_area .learn_more_card .learn_more_img03 {
    background-image: url(../index_img/img_link03.jpg);
}
#learn_more .learn_more_area .learn_more_card .learn_more_img04 {
    background-image: url(../index_img/img_link04.jpg);
}
/* 이미지 */
/* 텍스트 */
#learn_more .learn_more_area .learn_more_card .learn_more_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#learn_more .learn_more_area .learn_more_card .learn_more_title .view_all {
    background: none;
    padding: 0;
    border-bottom: 1px solid #000;
}
/* 텍스트 */
/* //learn_more */

/* news */
#news {
    padding: 0;
}
#news .news_banner {
    display: block;
    padding: 9.92px 0 4.8px 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#news .news_banner > img {
    width: 100%;
    height: 100%;
}
#news .news_area {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
#news .news_area .announcement_area {
    width: 50%;
}
#news .news_area .announcement_area > a {
    display: block;
    font-size: 1.75rem;
}
/* //news */