@charset "utf-8";

/* 1200px */
@media screen and (max-width: 1200px) {    
    /* index.html ---------------------------------------------------------------------- */
    /* intro */
    #intro .main_img {
        height: 393.6px;
    }
    #intro .intro_text_area .intro_title > h2 {
        font-size: 1.375rem;
    }
    /* intro */
    
    /* art_gallery */
    #art_gallery .art_gallery_area .art_gallery_card {
        height: 470px;
    }
    /* 이미지 */
    #art_gallery .art_gallery_area .art_gallery_card .art_gallery_img  {
        height: 48%;
    }
    /* 이미지 */
    /* art_gallery */
    
    /* display */
    .tap_title_area { /* tap메뉴 타이틀 */
        width: 60%;
    }
    /* display */
    
    /* learn_more */
    #learn_more .learn_more_area {
        flex-wrap: wrap;
    }
    #learn_more .learn_more_area .learn_more_card {
        width: 49%;
        height: 350px;
    }
    /* learn_more */
    
    /* news */
    #news .news_area .announcement_area {
        width: 65%;
    }
    /* news */
    /* index.html ----------------------------------------------------------------------*/

    /* gwanlam_chamyeo ----------------------------------------------------------------- */
/* 공통 */
section {
    padding: 60px 22px;
}
/* 공통 */

/* guide_header */
.guide_header .guide_header_nav_box {
    width: 100%;
}
/* guide_header */

/* 검색창 */
#gwanlam_chamyeo_header_bottom .search_box input { /* 검색어 텍스트 */
    padding: 9.92px;
    width: 80%;
    font-size: 1.867rem;
    font-weight: 600;
    border: none;
    outline: none;
}
/* 검색창 */

/* viewing */
#viewing .viewing_scroll_box {
    width: 100%;
    overflow-x: scroll;
}
table {
    width: 120%;
    border-collapse: collapse;
  }
  /* viewing */

  /* directions */
  .manners {
    margin-left: -40px;
}
.manners_btn {
    margin-left: -40px;
}
/* //directions */
/* gwanlam_chamyeo ----------------------------------------------------------------- */
}
/* //1200px */

/* 768px */
@media screen and (max-width: 768px) {
/* index.html------------------------------------------------------------------------- */
/* intro */
#intro {
    padding-top: 130px;
}
#intro .main_img {
    width: 90%;
    height: 780px;
    margin: 0 auto 32px;
}
#intro .intro_text_area {
    display: block;
}
#intro .intro_text_area .shortcut {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 25px;
    margin-top: 15px;
}
/* intro */

/* art_gallery */
#art_gallery .art_gallery_area {
    display: block;
}
#art_gallery .art_gallery_area .art_gallery_card {
    width: 100%;
    height: 626.8px;
}
/* 이미지 */
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img  {
    height: 73%;
}
/* 이미지 */
#art_gallery .art_gallery_area .art_gallery_card .section_title {
    font-size: 1.25rem;
}
/* art_gallery */

/* display */
#display .title_area .tap_title_area {
    width: 65%;
}
/* display */

/* newsletter */
#newsletter .newsletter_swiper {
    width: 100%;
    max-height: 440px;
}
/* newsletter */

/* news */
#news .news_area {
   display: block;
}
#news .news_area .announcement_area {
    width: 100%;
    padding: 20px 0;
}
#news .news_area .announcement_area > a {
    font-size: 1rem;
}
/* news */
/* index.html------------------------------------------------------------------------- */

/* gwanlam_chamyeo */
/* guide_header */
.guide_header .guide_header_nav_box > a {
   font-size: 1.063rem;
   padding: 0 10px;
}
/* guide_header */

}
/* //768px */

/* 430px */
@media screen and (max-width:430px) {
/* index.html------------------------------------------------------------------------- */
/* intro */
#intro .main_img {
    width: 100%;
    height: 466.8px;
}
/* intro */

/* art_gallery */
#art_gallery .art_gallery_area .art_gallery_card {
    height: 450px;
}
/* 이미지 */
#art_gallery .art_gallery_area .art_gallery_card .art_gallery_img  {
    height: 55%;
}
/* 이미지 */
/* art_gallery */

/* display */
#display .title_area .tap_title_area {
    display: none;
}
/* display */

/* collection */
#collection .collection_swiper {
    width: 100%;
    max-height: 500px;
}
/* collection */

/* learn_more */
#learn_more .learn_more_area {
    display: block;
}
#learn_more .learn_more_area .learn_more_card {
    width: 100%;
}
/* learn_more */
/* index.html------------------------------------------------------------------------- */
}